.myBG {
    height: 100vh;
    background: url("../assets/image/bg/bg2.jpg");
    background-size: cover;
}

.intro {
    height: 200px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.title {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    text-shadow: 2px 2px black;
    letter-spacing: 2px;
}

.trending {
    height: auto;
    background: url("../assets/image/bg/bg2.jpg");
    background-size: cover;
}

.superhero {
    height: auto;
    background: url("../assets/image/bg/bg2.jpg");
    background-size: cover;
}

.movieWrapper {
    
}

    


.movieImage {
    height: auto;
    background-color: black;
    margin: 5px;
    padding: 5px;
}

.images {
    height: 500px;

}

button {
    padding: 1px 80px;
    margin-top: 5px;
    border: none;
    background: none;
    outline: none;
    color: white;
    

    }
